
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font:inherit; 	vertical-align: baseline; background: transparent;}
body { line-height: 1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
ol, ul {list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;}
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;text-decoration:none}
ins { background-color: #ff9; color: #000; text-decoration: none }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }


html{ overflow-x:hidden; font-size:16px; }
html,body { margin:0; height:100%; }
.clearfix { content:""; clear:both; overflow:auto; zoom:1; }
* {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
*:before, *:after {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
body { font-size:16px; font-size:1rem; font-family:'Nanum Barun Gothic', '나눔바른고딕', 'NanumBarunGothic', '나눔바른고딕OTF', 'NanumBarunGothicOTF', '맑은 고딕', 'Malgun Gothic', Arial, sans-serif; -webkit-overflow-scrolling:touch; }
a {  color:inherit; transition:all ease-out 0.3s; -webkit-transition:all ease-out 0.3s; }
table{ border-collapse:collapse; border-spacing:0; width:100%; }
fieldset{ border:0; }
legend, caption{ width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0px; position:absolute; left:-99999px; }
textarea{ border:2px solid #dbdbdc; padding:8px 10px; line-height:18px; resize:none; }
input, textarea { vertical-align:middle; font-size:14px; color:#2b2b2b; font-family:'LGSmHanR','Nanum Barun Gothic', '나눔바른고딕', 'NanumBarunGothic', '나눔바른고딕OTF', 'NanumBarunGothicOTF', '맑은 고딕', 'Malgun Gothic', Arial, sans-serif; padding:0; margin:0; }
input[type="checkbox"] { width:17px; height:17px; }
input[type="radio"] { width:13px; height:13px; border:none; }
input[type="file"]{ height:22px; color:#666; border:1px solid #d4d4d4; line-height:22px; vertical-align:middle; background:#fff; }
iframe { border:none; }
strong { font-weight:bold; }
hr { border:0; border-top:1px solid #767676; margin:0; height:1px; }

/* selectbox 디자인만 */
select:not(.no-style) {
  font-family:inherit; /* 폰트 상속 */
  border-radius:0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance:none; /* 네이티브 외형 감추기 */
  -moz-appearance:none;
  appearance:none;
}
textarea:not(.no-style) {
  font-family:inherit; /* 폰트 상속 */
  border-radius:0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance:none; /* 네이티브 외형 감추기 */
  -moz-appearance:none;
  appearance:none;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display:none;
}
.input-box { position:relative; }
.input-box label {
  position:absolute;
  top:1px; /* input 요소의 border-top 설정값 만큼 */
  left:1px; /* input 요소의 border-left 설정값 만큼 */
  padding:.5em .8em; /* input 요소의 padding 값 만큼 */
  color:#999;
  cursor:text;
}
/*input*/
input[type="text"],
input[type="password"],
input[type="tel"] {
  height:auto; /* 높이 초기화 */
  line-height:normal; /* line-height 초기화 */
  padding:.6em 7%; /* 여백 설정 */
  border:none;
  width:85%;
  border:1px solid #cbcbcb;
  font-size:16px;
  font-size:1rem;
  font-weight:500;
  font-family:inherit;
  border-radius:0; /* iSO 둥근모서리 제거 */
  /*outline-style:none; /* 포커스시 발생하는 효과 제거를 원한다면 */
  -webkit-appearance:none; /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance:none;
  appearance:none;
}
/*textarea*/
textarea { width:100%; border:1px solid #dfdfdf; }

/*----------------------------------------*/
.hide { display:none; }
.mb0 { margin-bottom:0 !important; }
.mb6 { margin-bottom:6px !important; margin-bottom:0.375rem !important; }
.mb8 { margin-bottom:8px !important; margin-bottom:0.5rem !important; }
.mb10 { margin-bottom:10px !important; margin-bottom:0.625rem !important; }
.mb12 { margin-bottom:12px !important; margin-bottom:0.75rem !important; }
.mb16 { margin-bottom:16px !important; margin-bottom:1rem !important; }
.mb20 { margin-bottom:20px !important; margin-bottom:1.25rem !important; }
.mb24 { margin-bottom:24px !important; margin-bottom:1.5rem !important; }
.mb30 { margin-bottom:30px !important; margin-bottom:1.875rem !important; }
.mb32 { margin-bottom:32px !important; margin-bottom:2rem !important; }
.mb40 { margin-bottom:40px !important; margin-bottom:2.5rem !important; }
.mb48 { margin-bottom:48px !important; margin-bottom:3rem !important; }
.mb50 { margin-bottom:50px !important; margin-bottom:3.125rem !important; }
.mb56 { margin-bottom:56px !important; margin-bottom:3.5rem !important; }
.mb60 { margin-bottom:60px !important; margin-bottom:3.75rem !important; }
.mb64 { margin-bottom:64px !important; margin-bottom:4rem !important; }
.mb70 { margin-bottom:70px !important; margin-bottom:4.375rem !important; }
.mb72 { margin-bottom:72px !important; margin-bottom:4.5rem !important; }
.mb80 { margin-bottom:80px !important; margin-bottom:5rem !important; }
.mb90 { margin-bottom:90px !important; margin-bottom:5.625rem !important; }
.mb100 { margin-bottom:100px !important; margin-bottom:6.25rem !important; }

.mt0 { margin-top:0 !important; }
.mt6 { margin-top:6px !important; margin-top:0.375rem !important; }
.mt8 { margin-top:8px !important; margin-top:0.5rem !important; }
.mt10 { margin-top:10px !important; margin-top:0.625rem !important; }
.mt12 { margin-top:12px !important; margin-top:0.75rem !important; }
.mt16 { margin-top:16px !important; margin-top:1rem !important; }
.mt20 { margin-top:20px !important; margin-top:1.25rem !important; }
.mt24 { margin-top:24px !important; margin-top:1.5rem !important; }
.mt30 { margin-top:30px !important; margin-top:1.875rem !important; }
.mt32 { margin-top:32px !important; margin-top:2rem !important; }
.mt40 { margin-top:40px !important; margin-top:2.5rem !important; }
.mt48 { margin-top:48px !important; margin-top:3rem !important; }
.mt50 { margin-top:50px !important; margin-top:3.125rem !important; }
.mt56 { margin-top:56px !important; margin-top:3.5rem !important; }
.mt60 { margin-top:60px !important; margin-top:3.75rem !important; }
.mt64 { margin-top:64px !important; margin-top:4rem !important; }
.mt70 { margin-top:70px !important; margin-top:4.375rem !important; }
.mt72 { margin-top:72px !important; margin-top:4.5rem !important; }
.mt80 { margin-top:80px !important; margin-top:5rem !important; }
.mt90 { margin-top:90px !important; margin-top:5.625rem !important; }
.mt100 { margin-top:100px !important; margin-top:6.25rem !important; }

.pb6 { padding-bottom:6px !important; padding-bottom:0.375rem !important; }
.pb8 { padding-bottom:8px !important; padding-bottom:0.5rem !important; }
.pb10 { padding-bottom:10px !important; padding-bottom:0.625rem !important; }
.pb12 { padding-bottom:12px !important; padding-bottom:0.75rem !important; }
.pb16 { padding-bottom:16px !important; padding-bottom:1rem !important; }
.pb20 { padding-bottom:20px !important; padding-bottom:1.25rem !important; }
.pb24 { padding-bottom:24px !important; padding-bottom:1.5rem !important; }
.pb30 { padding-bottom:30px !important; padding-bottom:1.875rem !important; }
.pb32 { padding-bottom:32px !important; padding-bottom:2rem !important; }
.pb40 { padding-bottom:40px !important; padding-bottom:2.5rem !important; }
.pb48 { padding-bottom:48px !important; padding-bottom:3rem !important; }
.pb50 { padding-bottom:50px !important; padding-bottom:3.125rem !important; }
.pb56 { padding-bottom:56px !important; padding-bottom:3.5rem !important; }
.pb60 { padding-bottom:60px !important; padding-bottom:3.75rem !important; }
.pb64 { padding-bottom:64px !important; padding-bottom:4rem !important; }
.pb70 { padding-bottom:70px !important; padding-bottom:4.375rem !important; }
.pb72 { padding-bottom:70px !important; padding-bottom:4.5rem !important; }
.pb80 { padding-bottom:80px !important; padding-bottom:5rem !important; }
.pb90 { padding-bottom:90px !important; padding-bottom:5.625rem !important; }
.pb100 { padding-bottom:100px !important; padding-bottom:6.25rem !important; }

.pt6 { padding-top:6px !important; padding-top:0.375rem !important; }
.pt8 { padding-top:8px !important; padding-top:0.5rem !important; }
.pt10 { padding-top:10px !important; padding-top:0.625rem !important; }
.pt12 { padding-top:12px !important; padding-top:0.75rem !important; }
.pt16 { padding-top:16px !important; padding-top:1rem !important; }
.pt20 { padding-top:20px !important; padding-top:1.25rem !important; }
.pt24 { padding-top:24px !important; padding-top:1.5rem !important; }
.pt30 { padding-top:30px !important; padding-top:1.875rem !important; }
.pt32 { padding-top:32px !important; padding-top:2rem !important; }
.pt40 { padding-top:40px !important; padding-top:2.5rem !important; }
.pt48 { padding-top:48px !important; padding-top:3rem !important; }
.pt50 { padding-top:50px !important; padding-top:3.125rem !important; }
.pt56 { padding-top:56px !important; padding-top:3.5rem !important; }
.pt64 { padding-top:64px !important; padding-top:4rem !important; }
.pt60 { padding-top:60px !important; padding-top:3.75rem !important; }
.pt72 { padding-top:72px !important; padding-top:4.5rem !important; }
.pt70 { padding-top:70px !important; padding-top:4.375rem !important; }
.pt80 { padding-top:80px !important; padding-top:5rem !important; }
.pt90 { padding-top:90px !important; padding-top:5.625rem !important; }
.pt100 { padding-top:100px !important; padding-top:6.25rem !important; }

.b-top{border-top: 1px solid #d8d8d8}
.b-bottom{border-bottom: 1px solid #d8d8d8}

.blind{ width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0px; position:absolute; left:-99999px; }
.color_c00000{color: #c00000}

.blind table{ text-indent:-10000px; }
.of-hi { overflow:hidden; }
.fl-l { float:left !important; }
.fl-r { float:right !important; }
.cl-b { width:0; height:0; font-size:0; line-height:0; clear:both; }
.ta-c { text-align:center !important; }
.ta-l { text-align:left !important; }
.ta-r { text-align:right !important; }
.ti-hidden {text-indent:-9999px;}
/*----------------------------------------*/
/*--- Font Guide Responsive --*/

h1,h2,h3,h4,h5,h6{ font-family:'Nanum Barun Gothic', '나눔바른고딕', 'NanumBarunGothic', '나눔바른고딕OTF', 'NanumBarunGothicOTF', '맑은 고딕', 'Malgun Gothic', Arial, sans-serif; letter-spacing:-0.02rem; font-weight:300; }
h1 { font-size:64px; font-size:4rem; line-height:67px; line-height:4.2rem; }
h2 { font-size:48px; font-size:3rem; line-height:51px; line-height:3.2rem; }
h3 { font-size:40px; font-size:2.5rem; line-height:43px; line-height:2.7rem; }
h4 { font-size:32px; font-size:2rem; line-height:35px; line-height:2.2rem; }
h5 { font-size:28px; font-size:1.75rem; line-height:32px; line-height:2rem; }
h6 { font-size:22px; font-size:1.375rem; line-height:28px; line-height:1.8rem; }
h4.eng { font-family:"LGmHanR",Arial,sans-serif; font-weight:300; font-size:32px; font-size:2rem; line-height:35px; line-height:2.2rem; color:#3b3b3b; margin-bottom:0rem; }
p { font-family:'Nanum Barun Gothic', '나눔바른고딕', 'NanumBarunGothic', '나눔바른고딕OTF', 'NanumBarunGothicOTF', '맑은 고딕', 'Malgun Gothic', Arial, sans-serif; font-weight:300; letter-spacing:-0.015rem; font-size:16px; font-size:1rem; margin-top:8px; margin-top:0.5rem; margin-bottom:8px; margin-bottom:0.5rem; line-height:28px; line-height:1.75rem; color:#565656; }
p.big-text { letter-spacing:-0.015rem; font-size:20px; font-size:1.25rem; line-height:28px; line-height:1.8rem; color:#565656; }

/*----------------------------------------*/
/* Grid Gutter 수정 추가---*/
.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }
.small-gutter > [class*='col-'] { padding-right:1px; padding-left:1px; }
.medium-gutter > [class*='col-'] { padding-right:5px; padding-left:5px; }